In [1]:
2+3

5

In [2]:
print("hello python")

hello python

In [3]:
name="NDV tech sys"
print("My Comany name is.." +  name)

My Comany name is..NDV tech sys

In [4]:
course="AI ML"
print("iam doing " + course)

iam doing AI ML

In [1]:
#Arthematic operators
# +. - , * , / , % , **


# addition
2+3

5

In [2]:
#subtraction
56-34

22

In [3]:
#multiplication
3*5

15

In [4]:
#divison
45/3

15.0

In [5]:
#floor divison
45//3

15

In [6]:
# modulous
45%6

3

In [7]:
#power
3**6

729

In [ ]:
# variables
# variable is storage container which can able to store values as data types
# variable name is custom defined name
# variable name do not start with number
# variable name do not have spaces
# variable name do not have special chars
# ! @ # $ % ^ & * ( ) + = ' " " | \ ~  ? < >
# variable name should not be a python keyword or identifier
# if , elif def in as ,....

# variable name can allow one special char which is underscore _

name = "srinivas" # str
age=34 # int
Qual="MCA" # str
Techs=["java",'python','ML'] # list

In [8]:
1empname="srini"

SyntaxError: invalid decimal literal (<ipython-input-8-2486656919>, line 1)

In [9]:
emp name ="srini"
emp name

SyntaxError: invalid syntax (<ipython-input-9-842368858>, line 1)

In [10]:
emp$name ='srini'
emp$name

SyntaxError: invalid syntax (<ipython-input-10-4016350575>, line 1)

In [11]:
emp_name="srini"
emp_name

'srini'

In [12]:
if ="srini"
if

SyntaxError: invalid syntax (<ipython-input-12-3343208225>, line 1)

In [22]:
# datatypes

# int
x=100
print (type(x))
# float
y=10.234
print(type(y))
# bool
isGraduated= True
print(type(isGraduated))
# str
name = "NDVTechsys" # operations
print(type(name))
# list
names =['srini','srini','ramesh','rajesh','suresh','somesh'] # operations
print(names)
print(type(names)) # list will allow duplicates
# tuple
fruits=('apple','mango','bannana')
print(type(fruits))
# set
names1 = { 'srini','srini','srini','srini','ramesh','rajesh','suresh','somesh'}
print(type(names1)) # set will not allow duplicates
print(names1)

# dict
emp_info={"emp_name":"srini","age":34,"Qual":"MCA"}
print(type(emp_info))
print(emp_info)

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
['srini', 'srini', 'ramesh', 'rajesh', 'suresh', 'somesh']
<class 'list'>
<class 'tuple'>
<class 'set'>
{'ramesh', 'somesh', 'suresh', 'srini', 'rajesh'}
<class 'dict'>
{'emp_name': 'srini', 'age': 34, 'Qual': 'MCA'}

In [ ]:
# list is mutable means we can add objects ,delete objects ,insert objects for list
# list is index based [0,1,2,3,4..]
# list is ordered collection

# tuple is immutable means we cannot add ,delete,insert objects
# tuple is index based [0,1,2,3,4,5..]
# tuple allowed duplicates
# tuple is ordered collection

# set is not allowed duplicates
# set is not index based : un ordred collection

# string also orderd collction
# 'srini' ['s','r','i','n','i'] : [0,1,2,3,4]
# string is immutable we cannot perform add,delete,insert kind of operations.

#dict is collction of key:value pair system
# dict we can add , remove ,replace
# dict is not ordered collction , no index based
# key and value seperated with :

In [ ]:
# python predefined functions

# print()
# input()
# type()
# id()


# type casting functions
# int()
# float()
# str()
# list()
# tuple ()
# set()

In [24]:
# print()
print("hello python")
print('hello python')
print('''hello python''')
print("""hello python""")

hello python
hello python
hello python
hello python

In [26]:
#print formating
# srinivas teaching python course for 6000 rs
name ="srinivas"
course_name="python"
course_price=6000
print(name+ " teching " + course_name + " course for " + str(course_price) + " rs")
print("{0} teching {1} course for {2} rs".format(name,course_name,course_price))
print(f"{name} teching {course_name} course for {course_price} rs")

srinivas teching python course for 6000 rs
srinivas teching python course for 6000 rs
srinivas teching python course for 6000 rs

In [28]:
# input()
# taking input value from user
# input() function will take data deafut string type
prd_price=float(input("enter your product price"))
prd_discount=float(input("enter discount for the product"))
final_price= prd_price-prd_discount # '45000'-'4550' # str-str
print("final price of the product is..",final_price)

enter your product price45000
enter discount for the product4550
final price of the product is.. 40450.0

In [31]:
name ='srinivas'
print(type(name))
print(id(name))

<class 'str'>
135497570882736

In [ ]:
# operators
# loops
# conditions
# functions
# oops
# json
# mini project